<div id="download-section" class="download-container">

</div>

<script defer>
    // define constants
    const downloadSection = document.getElementById('download-section');

    const addDownloadButton = function(name, class_name, file) {
        const downloadLink = document.createElement('a')
        downloadLink.style.color = "black"
        downloadLink.className = "download"
        downloadLink.href = "https://github.com/FireSquid6/teleorb/releases/latest/download/" + file
        
        const icon = document.createElement('i')
        icon.className = 'fa-brands fa-5x'
        icon.classList.add(class_name) 

        const paragraph = document.createElement('p')
        paragraph.textContent = name

        downloadSection.appendChild(downloadLink);
        downloadLink.appendChild(icon);
        downloadLink.appendChild(paragraph);
    };

    // create the download buttons
    addDownloadButton("Windows", 'fa-windows', 'Windows.Desktop.zip');
    addDownloadButton("Apple", 'fa-apple', 'macOS.zip');
    addDownloadButton("Linux", 'fa-linux', 'LinuxX11.zip');

</script>